@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

*, ::before, ::after {
  font-family: 'Staatliches', cursive;
  letter-spacing: 10px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.logo {
  animation: bump .5s ease-in 0s infinite normal none;
}

.btn {
  background: #fff;
  color: #7027d0;

  font-weight: bold;

  padding: 5px 10px;
  margin: 5px;

  border: 5px solid #7027d0;
  border-radius: 10px;

  box-shadow: -3px 3px #ff0033, 3px -3px #0099ff;

  transition: box-shadow .2s ease-in;

  animation: flick 4s linear 0s infinite normal none;
}

.btn:nth-child(3n+1) {
  animation-delay: 1s;
}

.btn:hover {
  animation: flick .5s linear 0s infinite normal none;
}

.centered, .game-panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 100%;

  align-items: center;
  justify-content: space-evenly;
}

.start-buttons {
  display: flex;
  flex-direction: column;

  flex-grow: .5;
  min-width: 200px;
  max-width: 300px;
}

.start-buttons>.btn {
  width: 100%;

  margin: 10px;
}

.wave {
  position: absolute;

  left: 0;
  bottom: 0;

  height: 100vh;
}

.game-panel {
  display: none;

  flex-direction: column;
}

.question-container {
  margin-bottom: 50px;
  color: #fff;
  font-weight: bold;
  text-shadow: -0.5px 0.5px #ff0033, 0.5px -0.5px #0099ff;

  animation: bump 1s ease-in 0s infinite normal none;
}

#live-container {
  animation: flick 5s ease-in 0s infinite normal none;

  background-color: #fff;
  color: #000;
  font-weight: bold;
  text-shadow: -0.5px 0.5px #ff0033, 0.5px -0.5px #0099ff;
}

.question-buttons {
  display: grid;

  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;

  row-gap: 50px;
  column-gap: 50px;

  margin: 100px;
  padding: 20px;
}

/* Keyframes Animations */
@keyframes flick {
  0% {
    transform: translate(0, 0) rotate(-15deg) skew(-15deg, -10deg);
  }

  100% {
    transform: translate(3px, 6px) rotate(0) skew(0);
  }

  26.9% {
    transform: translate(0, 0) rotate(-15deg) skew(-15deg, -10deg);
  }

  27% {
    transform: translate(-5px, 1px) rotate(10deg) skew(10deg, 15deg);
  }

  47.9% {
    transform: translate(-5px, 1px) rotate(10deg) skew(10deg, 15deg);
  }

  48% {
    transform: translate(5px, 3px) rotate(-5deg) skew(-5deg, -10deg);
  }

  62.9% {
    transform: translate(5px, 3px) rotate(-5deg) skew(-5deg, -10deg);
  }

  63% {
    transform: translate(-5px, -4px) rotate(15deg) skew(15deg, 5deg);
  }

  81.9% {
    transform: translate(-5px, -4px) rotate(15deg) skew(15deg, 5deg);
  }

  82% {
    transform: translate(3px, 6px) rotate(0) skew(0);
  }
}

@keyframes bump {
  0% {
    transform: translate(0, 0);
  }

  0.1% {
    transform: translate(10px, -10px);
  }

  60% {
    transform: translate(0, 0);
  }
}

/*